<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="~{fragments/main-layout.html :: head/meta}"/>
    <title th:replace="~{fragments/main-layout.html :: head/title}"></title>
<!--    <script th:src="@{/js/functionDetail.js}" defer></script>-->
    <th:block th:replace="~{fragments/main-layout.html :: head/link}"/>
    <th:block th:replace="~{fragments/main-layout.html :: head/script}"/>
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/getData/getDataProject.js}" defer></script>


</head>
<body>

<!--fragment header-->
<div th:replace="~{fragments/main-layout.html :: header}"></div>

<!--fragment sidebar-->
<div th:replace="~{fragments/main-layout.html :: sidebar}"></div>

<!-- main content-->
<main id="main" class="main">
    <!--breadcrumb-->
    <!--breadcrumb-->
    <div th:fragment="breadcrumb" class="pagetitle">
        <nav class="d-flex justify-content-end">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Project</a></li>
                <li class="breadcrumb-item active">Home</li>
            </ol>
        </nav>
    </div>    <!--content-->
    <section class="section dashboard">
        <div class="row">
            <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card coba1">

                    <div class="card-body">
                        <div class="data-profile-perusahaan">
                            <h5 class="card-title">Daftar Project</h5>
                            <div class="edit-delete">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalProject" onclick="openModal('Project Baru')">
                                    <i class="bi bi-file-plus"></i>
                                </button>
                                <div th:replace="~{${modal} :: modal }"></div>
                                <!-- refresh button -->
                                <button onclick="window.location.reload();" type="button" class="btn btn-primary">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>
                            </div>
                        </div>
                        <div class="q-toolbar row no-wrap items-center" role="toolbar">
                            <form>
                                <span>Tampilkan : </span>
                                <input type="radio" name="status" value="semua" checked>Semua
                                <input type="radio" name="status" value="draft">Draft
                                <input type="radio" name="status" value="ajuan">Ajuan
                                <input type="radio" name="status" value="disetujui">Disetujui
                                <input type="radio" name="status" value="ditolak">Ditolak
                                <input type="radio" name="status" value="nonaktif">Nonaktif
                            </form>
                        </div>
                    </div>
                    <!-- cara agar table tidak melewati jendela -->
                    <div class="table-responsive">
                        <table class="table scrolltable datatable table-project">
                            <!-- membuat button refresh search -->
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Kode</th>
                                <th>Nama Project</th>
                                <th>Status</th>
                                <th>Progress</th>
                                <th>Target</th>
                                <th>Prioritas</th>
                                <th>Kantor</th>
                                <th>Unit Kerja</th>
                                <th>Project Owner</th>
                                <th>Project Manager</th>
                                <th>Anggota</th>
                                <th>Bobot</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${data}">
                                <td>
<!--                                    <button type="button" class="btn btn-primary detailBtn" data-bs-toggle="modal"-->
<!--                                            data-bs-target="#largeModal" href="javascript:;" th:data-id=${data.projectId}>-->
<!--                                        <i class="bi bi-pencil-square"></i>-->
<!--                                    </button>-->

                                    <a type="button" class="btn btn-primary detailBtn" data-bs-toggle="modal"
                                            data-bs-target="#modalProject"
                                            th:data-id="${data.projectId}"
                                            href="javascript:;"
                                            id="buttonEdit"
                                            onclick="openModal('Update Project')">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

<!--                                    <div class="modal fade" id="largeModal" tabindex="-1">-->
<!--                                        <div class="modal-dialog modal-lg">-->
<!--                                            <div class="modal-content">-->
<!--                                                <div class="modal-header">-->
<!--                                                    <h5 class="modal-title"><b>Ubah </b>Project</h5>-->
<!--                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                                </div>-->
<!--                                                <div class="modal-body">-->
<!--                                                    <div class="mb-3">-->
<!--                                                        <label for="formGroupExampleInput" class="form-label">Kode/Nomor Project</label>-->
<!--                                                        <input type="text" class="form-control" id="formGroupExampleInput" th:placeholder="${data.projectId}" readonly>-->
<!--                                                    </div>-->
<!--                                                    <div class="mb-3">-->
<!--                                                        <label for="formGroupExampleInputNama" class="form-label">Nama Project</label>-->
<!--                                                        <input type="text" class="form-control" id="formGroupExampleInputNama" th:value="${data.namaProject}">-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputDepartemen" class="form-label">Departemen</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputDepartemen" th:value="${data.namaDepartemen}">-->
<!--                                                        </div>-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputProjectOwner" class="form-label">Project Owner</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputProjectOwner" th:value="${data.projectOwner}">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputProjectManager" class="form-label">Project Manager</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputProjectManager" th:value="${data.projectManager}">-->
<!--                                                        </div>-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputNamaKantor" class="form-label">Kantor</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputNamaKantor" th:value="${data.namaKantor}">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputPriority" class="form-label">Priority</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputPriority" th:value="${data.priority}">-->
<!--                                                        </div>-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputBobot" class="form-label">Bobot</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputBobot" th:value="${data.bobot}">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputTanggalMulai" class="form-label">Tanggal Mulai</label>-->
<!--                                                            <input type="date" class="form-control" id="formGroupExampleInputTanggalMulai" th:value="${data.tglMulai}">-->
<!--                                                        </div>-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputTanggalSelesai" class="form-label">Tanggal Selesai</label>-->
<!--                                                            <input type="date" class="form-control" id="formGroupExampleInputTanggalSelesai" th:value="${data.tglSelesai}">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputAnggota" class="form-label">Anggota</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputAnggota" th:value="${data.anggota}">-->
<!--                                                        </div>-->
<!--                                                        <div class="col">-->
<!--                                                            <label for="formGroupExampleInputStatus" class="form-label">Status</label>-->
<!--                                                            <input type="text" class="form-control" id="formGroupExampleInputStatus" th:value="${data.status}">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-12">-->
<!--                                                        <div class="form-group">-->
<!--                                                            <label for="exampleFormControlTextarea1">Deskripsi</label>-->
<!--                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="modal-footer">-->
<!--                                                    <button type="button" class="btn btn-primary">SIMPAN</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal123"
                                            data-bs-target="#verticalycentered123">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                </td>
                                <td th:text="${data.projectId}" ></td>
                                <td th:text="${data.namaProject}"></td>
                                <td><span class="badge bg-success" th:text="${data.status}"></span></td>
                                <td>
                                    <div class="container">
                                        <div class="progress">
                                            <div class="bar" th:style="'width: ' + ${data.progress}"></div>
                                            <div class="percent" th:text="${data.progress}"></div>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${data.target}"></td>
                                <td th:text="${data.priority}"></td>
                                <td th:text="${data.namaKantor}"></td>
                                <td th:text="${data.namaDepartemen}"></td>
                                <td>
                                    <div class="image-container">
                                        <span href="#" class="bg-profile"><img th:src="@{/img/profile-img.jpg}"
                                                                               alt="Profile" class="rounded-circle"
                                                                               width="20px" th:text="${data.projectOwner}"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="image-container">
                                        <span href="#" class="bg-profile"><img th:src="@{/img/profile-img.jpg}"
                                                                               alt="Profile" class="rounded-circle"
                                                                               width="20px" th:text="${data.projectManager}"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="image-container">
                                        <a href="#" class="popup-link"><img th:src="@{/img/profile-img.jpg}"
                                                                            alt="Profile" class="rounded-circle"
                                                                            width="20px"></a>
                                        <div class="popup-text" th:text="${data.anggota}"></div>
                                    </div>
                                </td>
                                <td th:text="${data.bobot}"></td>
                                <td th:text="${data.tglMulai}"></td>
                                <td th:text="${data.tglSelesai}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>