<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--Modal-->
<div class="modal fade" id="modalKantor" tabindex="-1" th:fragment="modal"
     aria-labelledby="modalKantorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="formUpsertKantor" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Kantor Baru</h5>
                    <button type="button" class="btn-close" id="btnClose" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <input type="hidden" id="cabangId" name="cabangId"/>
                        <div class="col-12">
                            <label for="namaCabang" class="form-label">Nama Kantor</label>
                            <input type="text" class="form-control" id="namaCabang" name="namaCabang"
                                   placeholder="Nama Kantor">
                        </div>
                        <div class="col-12">
                            <label for="nomorTelpCabang" class="form-label">Nomor Telepon
                            </label>
                            <input type="text" class="form-control" id="nomorTelpCabang" name="nomorTelpCabang"
                                   placeholder="Nomor Telepon">

                        </div>
                        <div class="col-12">
                            <label class="form-label">Jenis Kantor</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                       name="jenisKantor"
                                       value="Syariah"
                                       id="syariah">
                                <label class="form-check-label" for="syariah">
                                    Syariah
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                       name="jenisKantor"
                                       value="Konven"
                                       id="konven" checked>
                                <label class="form-check-label" for="konven">
                                    Konven
                                </label>
                            </div>


                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="alamat">Alamat</label>
                                <textarea class="form-control"
                                          id="alamat" name="alamat"
                                          rows="3" placeholder="Alamat"></textarea>
                            </div>
                        </div>

                    </form><!-- Vertical Form -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary">SIMPAN</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Vertically centered Modal-->
<!--Modal end-->
</body>
</html>