<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--Modal-->
<div class="modal fade" id="modalUnitKerja" tabindex="-1" th:fragment="modal"
     aria-labelledby="modalUnitKerjaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="formUpsertUnitKerja" method="post">
                <div class="modal-header">


                    <h5 class="modal-title" id="unitKerjaTitle">Unit Kerja Baru</h5>
                    <button type="button" class="btn-close" id="btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <input type="hidden" id="departemenId" name="departemenId"/>

                        <div class="mb-3">
                            <label for="namaDepartemen" class="form-label">Nama Unit Kerja</label>
                            <input type="text" class="form-control" id="namaDepartemen" name="namaDepartemen" placeholder="Nama Unit Kerja">
                        </div>
                        <script defer>
                        function openModal(value) {
                        // Set the value in the modal
                        document.getElementById('unitKerjaTitle').textContent = value;

                        // Open the modal
                        // Add your code to open the modal here
                    }
                </script>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="keterangan">Keterangan</label>
                                <textarea class="form-control" id="keterangan" name="keterangan" rows="3" placeholder="Keterangan"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="mb-3">
                            <label for="projectManager">Project Manager</label>
                            <div>
                            <select id="projectManager" name="projectManager" required>
                            <option th:value=null>No Specific Customer Number</option>
                            <option th:each="option : ${dropdownUnitKerja}"
                                    th:value="${option.usrname}"
                                    th:text="${option.usrname}"/>
                            </select>

                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>

        </div>
    </div>
</div><!-- End Vertically centered Modal-->
<!--Modal end-->
</body>
</html>