<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="~{fragments/main-layout.html :: head/meta}"/>
    <title th:replace="~{fragments/main-layout.html :: head/title}"></title>
    <th:block th:replace="~{fragments/main-layout.html :: head/link}"/>
    <th:block th:replace="~{fragments/main-layout.html :: head/script}"/>
    <!--    panggil js getDataKantor.js-->
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/getData/getDataKantor.js}" defer></script>


</head>
<body>

<!--fragment header-->
<div th:replace="~{fragments/main-layout.html :: header}"></div>

<!--fragment sidebar-->
<div th:replace="~{fragments/main-layout.html :: sidebar}"></div>

<!-- main content-->
<main id="main" class="main">
    <!--breadcrumb-->
    <div th:fragment="breadcrumb" class="pagetitle">
        <nav class="d-flex justify-content-end">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Lokasi Project</a></li>
                <li class="breadcrumb-item active">Home</li>
            </ol>
        </nav>
    </div><!-- End breadcrumb-->

    <!--content-->
    <section class="section dashboard">
        <div class="row">
            <div class="col-xxl-4 col-xl-12">
                <div class="card info-card customers-card coba1">
                    <div class="card-body">
                        <div class="data-profile-perusahaan">
                            <h5 class="card-title">Daftar Kantor</h5>
                            <div class="edit-delete">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalKantor">
                                    <i class="bi bi-plus-lg"></i>
                                </button>

                                <div th:replace="~{${modal} :: modal }"></div>

                                <span>
                                    <button onclick="window.location.reload();" type="button" class="btn btn-primary">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <table class="table datatable" id="tableKantor">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nama</th>
                                <th scope="col">No. Telp.</th>
                                <th scope="col">Jenis Kantor</th>
                                <th scope="col">Alamat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${data}">
                                <td>
                                    <a type="button" class="btn btn-primary" data-bs-toggle="modal"
                                       data-bs-target="#modalKantor"
                                       th:data-id=${data.cabangId}
                                       href="javascript:"
                                       id="buttonEdit"
                                    >
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a type="button" class="btn btn-danger"
                                       th:href="@{/organisasi/deleteKantor(id=${data.cabangId})}"
                                    >
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                                <td th:text="${data.namaCabang}"></td>
                                <td th:text="${data.nomorTelpCabang}"></td>
                                <td th:text="${data.jenisKantor}"></td>
                                <td th:text="${data.alamat}"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Customers Card -->
        </div>
    </section>
</main>

</body>
</html>