<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="~{fragments/main-layout.html :: head/meta}"/>
    <title th:replace="~{fragments/main-layout.html :: head/title}"></title>
    <th:block th:replace="~{fragments/main-layout.html :: head/link}"/>
    <th:block th:replace="~{fragments/main-layout.html :: head/script}"/>


</head>
<body>

<!--fragment header-->
<div th:replace="~{fragments/main-layout.html :: header}"></div>

<!--fragment sidebar-->
<div th:replace="~{fragments/main-layout.html :: sidebar}"></div>

<!-- main content-->
<main id="main" class="main">
    <!--breadcrumb-->
    <div th:replace="~{fragments/main-layout.html :: breadcrumb (${title})}"></div>

    <!--content-->
    <section class="section dashboard">
        <div class="row">
            <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card coba1">


                    <div class="card-body">
                        <div class="data-profile-perusahaan">
                            <h5 class="card-title">Data Profil Organisasi</h5>

                            <div class="edit-delete">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalProfile">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <!--modal-->
                                <div th:replace="~{${modal} :: modal }"></div>
                                <!-- End Large Modal-->


                                <button onclick="window.location.reload();" type="button" class="btn btn-primary">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>
                            </div>
                        </div>
                        <hr>

                        <div class="container-profile" th:object="${data}">
                            <div class="gambar">
                                <img th:src="@{/img/back.c455c3a0.jpg}" alt="" width="400px" height="300px"
                                     class="gambar-perusahaan">

                            </div>
                            <div class="keterangan-perusahaan">
                                <div class="keterangan-perusahaan-kiri">
                                    <span class="text-keterangan-perusahaan">Nama</span>
                                    <h6 th:text="*{namaOrganisasi == null ? '-' : namaOrganisasi}"></h6>
                                    <!--                                    <p>PT BPD Kaltim Kaltara </p>-->
                                    <span class="text-keterangan-perusahaan">Email 1</span>
                                    <p th:text="*{email1 == null ? '-' : email1}"></p>
                                    <span class="text-keterangan-perusahaan">Email 2</span>
                                    <p th:text="*{email2 == null ? '-' : email2}"></p>
                                    <span class="text-keterangan-perusahaan">Website</span>
                                    <p><a th:href="*{url == null ? '-' : url}" target="_blank"
                                          th:text="*{url == null ? '-' : url}"></a></p>
                                    <div></div>
                                    <span class="text-keterangan-perusahaan">Alamat</span>
                                    <p th:text="*{alamatLengkap == null ? '-' : alamatLengkap}"></p>
                                </div>
                                <div class="keterangan-perusahaan-kanan">
                                    <span class="text-keterangan-perusahaan">No. Telp 1</span>
                                    <p th:text="*{noTlp1 == null ? '-' : noTlp1}"></p>
                                    <span class="text-keterangan-perusahaan">No. Telp 2</span>
                                    <p th:text="*{noTlp2 == null ? '-' : noTlp2}"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- End Customers Card -->

        </div>
    </section>

</main>

</body>
</html>