<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="~{fragments/main-layout.html :: head/meta}"/>
    <title th:replace="~{fragments/main-layout.html :: head/title}"></title>
    <th:block th:replace="~{fragments/main-layout.html :: head/link}"/>
    <th:block th:replace="~{fragments/main-layout.html :: head/script}"/>
    <script type="text/javascript" th:src="@{/js/getData/getDataStaff.js}" defer></script>


</head>
<body>

<!--fragment header-->
<div th:replace="~{fragments/main-layout.html :: header}"></div>

<!--fragment sidebar-->
<div th:replace="~{fragments/main-layout.html :: sidebar}"></div>

<!-- main content-->
<main id="main" class="main">
    <!--breadcrumb-->
    <div th:replace="~{fragments/main-layout.html :: breadcrumb (${title})}"></div>

    <!--content-->
    <section class="section dashboard">
        <div class="row">
            <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card coba1">

                    <div class="card-body">
                        <div class="data-profile-perusahaan">
                            <h5 class="card-title">Daftar Staff/Karyawan

                            </h5>

                            <div class="edit-delete">

                                <!-- button tambah -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalStaff">
                                    <i class="bi bi-plus-lg"></i>
                                </button>

                                <div th:replace="~{${modal} :: modal }"></div>

                                <!-- button refresh -->
                                <button type="button" class="btn">
                                    <button onclick="window.location.reload();" type="button" class="btn btn-primary">
                                        <i class="bi bi-arrow-clockwise"></i>
                                    </button>


                            </div>
                        </div>
                        <hr>
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nama</th>
                                <th scope="col">Email</th>
                                <th scope="col">Unit Kerja</th>
                                <th scope="col">Telp 1</th>
                                <th scope="col">Telp 2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${data}">
                                <td>
                                    <a type="button" class="btn btn-primary" data-bs-toggle="modal"
                                       data-bs-target="#modalStaff"
                                       th:data-id=${data.namaStaff}
                                       href="javascript:"
                                       id="buttonEdit"
                                    >
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a type="button" class="btn btn-danger"
                                       th:href="@{/organisasi/deleteStaff(namaStaff=${data.namaStaff})}"
                                       id="buttonDelete"
                                    >
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                                <td th:text="${data.namaStaff}"></td>
                                <td th:text="${data.email1}"></td>
                                <td th:text="${data.namaDepartemenStaff}"></td>
                                <td th:text="${data.nomorTlp1}"></td>
                                <td th:text="${data.nomorTlp2}"></td>

                            </tr>


                            </tbody>

                        </table>


                    </div>
                </div>

            </div><!-- End Customers Card -->

        </div>


    </section>

</main>

</body>
</html>