<!DOCTYPE html>
<html lang="en">
<head>
    <meta th:replace="~{fragments/main-layout.html :: head/meta}"/>
    <title th:replace="~{fragments/main-layout.html :: head/title}"></title>
    <th:block th:replace="~{fragments/main-layout.html :: head/link}"/>
    <th:block th:replace="~{fragments/main-layout.html :: head/script}"/>


</head>
<body>

<!--fragment header-->
<div th:replace="~{fragments/main-layout.html :: header}"></div>

<!--fragment sidebar-->
<div th:replace="~{fragments/main-layout.html :: sidebar}"></div>

<!-- main content-->
<main id="main" class="main">
    <!--breadcrumb-->
    <div th:replace="~{fragments/main-layout.html :: breadcrumb (${title})}"></div>

    <!--content-->


</main>

</body>
</html>